@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Regular.woff") format("woff");
    src: url("fonts/Inter-Regular.woff2") format("woff2");
}

:root {
    --sidebar-color: #1e1b4b;
    --sidebar-text-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.sidebar > ul > li > img, 
img[alt="dashboard"], 
.top-bar > div img[src$=".svg"], 
.top-bar > img {
    /* Changes color to white from black */
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
    width: 1.5rem;
}

img[alt = "dashboard"] {
    width: 2.5rem;
}

.sidebar-title {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-container {
    display: grid;
    grid-template-columns: minmax(200px, 20%) 3fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-color);
    color: var(--sidebar-text-color);
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 50px;
    padding: 20px;
    font-weight: 600;
    align-content: start;
}

.sidebar ul {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    list-style-type: none;
    gap: 10px;
}

.sidebar ul li {
    display:flex;
    align-items: center;
    gap: 0.8rem;
}

.content-container {
    display:grid;
    grid-template-rows: minmax(100px,20%);
    min-width: 400px;
    background-color: #111827;
}

.header {
    background-color: #111827;
    -webkit-box-shadow: 0px 5px 8px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 5px 8px -4px rgba(255,255,255,0.75);
    box-shadow: 0px 5px 8px -4px rgba(255,255,255,0.4);

    display: grid;
    padding: 20px;
}

.header img[src$=".svg"] {
    width: 1.5rem;
}

#search {
    appearance: none;
    background-color: #52525b;
    border: 0;
    border-radius: 1000px;
    height: 2rem;
    color: #FFF;
    grid-column: 2 / 17;
    padding-left: 10px;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 10px;
    align-items: center;
    align-content: space-between;
    padding-right: 10px;
}

.top-bar :nth-child(1) {
    grid-column: 1 / 2;
}


.top-bar .github-icon {
    width: 2.5rem;
    border-radius: 100px;
}

.top-bar > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    grid-column: 20;
}

.top-bar > div > div {
    min-width: fit-content;
    font-weight: 700;
    color: white;
}
